{% extends "header.html" %}
{% block content %}

<br><div class="row">
    This project was made by Grace Liu for CMSC388J. This project is a 
    blogging website, named Bloggy. People who want to use this website to upload 
    their blogs will first need to register for an account with their name, 
    username, and email address. Upon registering and logging in, the user
    will then be allowed to create blogs from their own accounts, 
    search, browse, and comment on other people’s blogs. Each user will also have 
    their own profile page, which will allow them and others to see this user’s 
    username, links to their blogs, and their comments on others' blogs.
</div>

{% endblock %}