{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Greeting #}
        {% if current_user.is_authenticated %}
            <h1>Hey, {{  current_user.username }}!</h1>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Username Update Form #}
        <h3>Update Username</h3>
        <form method="POST" action="">
            {{ form_username.csrf_token }}
            <div class="form-group">
                {{ form_username.username.label }}
                {{ form_username.username(class="form-control") }}

                {% if form_username.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form_username.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ form_username.submit() }}
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Link to see all of the current user's reviews. #}
        <a href="{{ url_for('posts.user_detail', username=current_user.username) }}">
            <h5><strong>Click here to see all of your posts and comments!</strong></h5>
        </a>
    </div>
</div>
{% endblock %}